body {
  padding: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  background-color: #485861;
}

.text-area {
  margin-top: 192px;
}

.title {
  margin-bottom: 12px;
}

.line {
  width: 30px;
  height: 1px;
  border-bottom: 1px solid #ffe6cf;
  margin: 32px 0;
  opacity: 0.3;
}

.content {
  font-size: 16px;
  font-weight: normal;
}
