
.text-area {
    margin-top: 90px;
    margin-left: 24px;
}

.text-area h1 {
    margin-bottom: 22px;
}

.line {
    width: 46px;
    height: 1px;
    background-color: #ffe6cf;
    position: relative;
    top: -8px;
    display: inline-block;
    opacity: 0.5;
}

.volume {
    margin-bottom: 85px;
}

#circle-wrapper {
    position: relative;
    margin-left: 24px;
    margin-top: 42px;
}

.circle {
    width: 246px;
    height: 246px;
    border-radius: 50%;
    position: absolute;
}

.circle:nth-child(1) {
    background-color: transparent;
    border: 5px solid black;
    opacity: 0.2;
    box-sizing: border-box;

}

.circle:nth-child(2) {
    background-color: #ffc000;
    left: 100px;
}

.circle:nth-child(3) {
    background-color: #ffdd15;
    left: 200px;
    transition: 1s;
    top: 0;
}

.circle:nth-child(3):hover {
    background-color: blue;
    top: -20px;
}

.circle:nth-child(3):active {
    background-color: cornflowerblue;
    top: -20px;
}

#badge {
    background-color: #ffc000;
    color: #485861;
    width: 56px;
    height: 56px;
    margin-left: 24px;
    padding-left: 13px;
    padding-top: 18px;
    font-size: 9px;
    line-height: 11px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 24px;
    font-weight: bold;
}