sup {
    font-size: 10px;
}

.featured {
    height: 310px;
    position: relative;
    background-image: url("https://github.com/anjihhg/billy_htmlcss/blob/master/img/issue-1.jpg?raw=true");
    background-size: cover;
}

.count {
    position: absolute;
    top: 30px;
    right: 26px;
}

.text-area {
    position: absolute;
    bottom: 36px;
    left: 24px;
}

.featured .title {
    margin-bottom: 12px;
}

.swiper {
    white-space: nowrap;
    overflow-x: scroll;
    padding: 24px;
}

.swiper li {
    width: 186px;
    height: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
}

.swiper li:nth-child(1) {
    background-image: url("https://github.com/anjihhg/billy_htmlcss/blob/master/img/issue-2.jpg?raw=true");
}

.swiper li:nth-child(2) {
    background-image: url("https://github.com/anjihhg/billy_htmlcss/blob/master/img/issue-3.jpg?raw=true");
}

.swiper li:nth-child(3) {
    background-image: url("https://github.com/anjihhg/billy_htmlcss/blob/master/img/issue-4.jpg?raw=true");
}

.list {
    padding: 24px;
}

.item {
    margin-top: 17px;
    margin-bottom: 20px;
}

.item .num {
    width: 26px;
    height: 26px;
    background-color: #ffe6cf;
    color: #485762;
    border-radius: 50%;
    padding: 5px 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: -18px;
}

.item .infos {
    display: inline-block;
    width: 80%;
}

.item .title {
    font-size: 17px;
}

.item .desc {
    font-size: 13px;
    opacity: 0.7;
}