header {
  text-align: center;
  margin-top: 75px;
}

header .thumb {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.24);
}

header .thumb-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 36px;
}

header .badge {
  width: 28px;
  height: 28px;
  font-size: 12px;
  position: absolute;
  background-color: #ff5500;
  border-radius: 50%;
  top: 0;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .greeting {
  margin-bottom: 10px;
}

header .mail {
  padding: 8px 22px 10px 22px;
  background-color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  margin-top: 18px;
}

.list {
  margin-top: 48px;
}

.list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 15px;
}

.list .item .left {
  display: flex;
  align-items: center;
}

.list .item .left .name {
  margin-left: 6px;
}

.list .item .right {
  opacity: 0.5;
}

.list .item img {
  padding: 20px 22px;
}

.list .item .right img {
  padding-right: 14px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.3s ease;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inner {
  width: calc(100% - 48px);
  background-color: #485861;
  border-radius: 12px;
  overflow: hidden;
  animation: showPopup 0.35s ease;
}

.modal-inner .thumb {
  height: 234px;
  background-image: url("https://mdl.artvee.com/sftb/105040ab.jpg");
  background-size: cover;
  background-position: center;
}

.modal-inner .title {
  font-size: 17px;
}

.modal-inner .desc {
  line-height: 18px;
  margin-top: 4px;
  font-size: 12px;
}

.modal-inner button {
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid rgba(255, 230, 207, 0.28);
  border-radius: 4px;
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.bottom-info {
  height: 212px;
  padding: 24px;
  box-sizing: border-box;
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showPopup {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
