body {
    margin: 0;
}

.text-area {
    margin-top: 90px;
    margin-left: 24px;
}

.text-area h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.volume {
    margin-bottom: 85px;
}