body {
    margin: 0;
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    background-color: #485861;
    color: #ffe6cf;
    font-size: 11px;
    line-height: 1.4;
    font-weight: 500;
}

.text-area {
    margin-top: 90px;
    margin-left: 24px;
}

.text-area h1 {
    font-size: 30px;
    line-height: 1;
    font-weight: normal;
}

.volume {
    margin-bottom: 85px;
}

.circle {
    width: 246px;
    height: 246px;
    border-radius: 50%;
}

.circle:nth-child(1) {
    background-color: transparent;
    border: 10px solid black;
    opacity: 0.2;
    box-sizing: border-box;
}

.circle:nth-child(2) {
    background-color: #ffc000;
}

.circle:nth-child(3) {
    background-color: #ffdd15;
}

#badge {
    background-color: #ffc000;
    color: #485861;
    width: 56px;
    height: 56px;
    margin-left: 24px;
    padding-left: 13px;
    padding-top: 18px;
    font-size: 9px;
    line-height: 11px;
    box-sizing: border-box;
}